<!-- 
<div class="container">
    <div class="mt-5">
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <h1>SE CONNECTER</h1>
 
        <form >
          <div class="mt-3">
            <label for="nom" class="form-label" >Nom</label>
            <input type="text" class="form-control" id="nom" name="nom"
           >
          </div>
          <div class="mt-3">
            <label for="prenom" class="form-label" >Prenom</label>
            <input type="text" class="form-control" id="prenom" name="prenom"
           >
          </div>
          <div class="mt-3">
            <label for="matricule" class="form-label" >Matricule</label>
            <input type="text" class="form-control" id="matricule" name="matricule"
           >
          </div>
        
        <div class="mt-3">
          <label for="mail" class="form-label" >Adresse Mail</label>
          <input type="text" class="form-control" id="mail" name="mail"
         >
        </div>
  
          <div class="mt-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" 
            >
          </div>
          <div class="mt-3">
            <label for="confirmpassword" class="form-label">Confirme mot de passe</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" 
            >
          </div>
  
          <div class="mt-3" >
            <button type="submit" class="btn btn-primary">S'enregistrer                                      </button>
          </div>
        </form>
        <p>avez vous deja un compte ?
            <span style="color: #2E3192;" [routerLink]="['/login']">   
                connectez vous</span> </p>
  
      </div>
  
    </div>
  </div> -->
  <div class="container-fluid login-container">
    <div class="card login-card">
      <div class="row g-0">
        <!-- Image à gauche -->
        <div class="col-md-6 login-image"></div>
        <!-- Formulaire à droite -->
        <div class="col-md-6">
          <div class="login-form">
            <!-- Logo -->
            <img src="assets/images/logo  Learn Hub ENSPD.png" alt="Logo Entreprise" class="login-logo">
            <!-- Formulaire -->
            <fieldset>
              <legend class="text-center">S'enregistrer</legend>
              <form>
                <div class="mb-3">
                  <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez votre Nom" required>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Entrez votre Prénom" required>
                </div>
                <div class="mb-3">
                <select  class="form-control" name="role" id="role" data-msg="Please choose a gender"  required>
                  <option value="masculin">admin</option>
                  <option value="feminin">étudiant</option>
                </select>
              </div>
                <div class="mb-3">
                  <input type="text" class="form-control" id="email" name="email" placeholder="Entrez votre adresse mail" required>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" id="password" name="password" placeholder="Entrez votre mot de passe" required>
                </div>
                
                <div class="mb-3">
                 
                  <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Entrez votre mot de passe" required>
                </div>
               
                <button type="submit" class="btn login-button w-100">Se Connecter</button>
                <div class="mb3">
                  <p>avez vous deja un compte ?
                    <a style="color: #2E3192;" [routerLink]="['/login']">   
                        connectez vous</a> </p>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>