
<app-navbarinitial></app-navbarinitial>
<div class="full-screen d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h3>Bienvenue sur </h3>
      <h1>LEARN HUB ENSPD</h1>
      <p class="lead">Plateforme d’apprentissage en ligne de l’Ecole Nationale Supérieur Polytechnique de Douala.</p>
      <br>
      <a  class="btn btn-custom" routerLink="/login" >Se Connecter</a>
      <a  class="btn btn-warning" routerLink="/register">Créer un compte</a>
    </div>
  </div>