<app-navbar></app-navbar>
<!-- <div class="full-screen"></div>
<div class="text-center">
    <p>BIENVENU DANS</p>
    <p>LEARN HUB ENSPD</p>
    <p>Plateforme d’apprentissage en ligne de l’Ecole Nationale Supérieur Polytechnique de Douala</p>

</div> -->
<div class="full-screen d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h3>Bienvenue sur </h3>
      <h1>LEARN HUB ENSPD</h1>
      <p class="lead">Plateforme d’apprentissage en ligne de l’Ecole Nationale Supérieur Polytechnique de Douala.</p>
      <br>
      <a href="" class="btn btn-custom">Suivre un cours</a>
    </div>
  </div>