.btn-custom {
    background-color: #2E3192; /* Code hexadécimal de la couleur */
    color: #ffffff; /* Couleur du texte */
    border-color: #2a2fb3; /* Bordure personnalisée */
  }
  .btn-custom:hover {
    background-color: #2980b9; /* Couleur au survol */
    border-color: #060a74;
  }